<footer class="footer-container">
  <a href="https://github.com/aobatake" class="footer-icon">{% include "foot-github.njk" %}</a>
  <a href="https://www.linkedin.com/in/andrew-obatake-8a5232106" class="footer-icon">{% include "foot-linkedin.njk" %}</a>
  <a href="mailto:aobatake@hawaii.rr.com">{% include "foot-mail.njk" %}</a>
</footer>