
<nav>
  <ul>
    <li>
    <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects.html">Projects</a>
    </li>
    <li>
      <a href="http://aobatake.github.io">Blog</a>
    </li>
  </ul>
  <a href="#" class="mobile-nav-trigger"><span></span></a>
</nav>
