.footer-container {
	padding:15px 0 5px 0;
	display:flex;
	justify-content:center;
}

.foot-icon {
	padding-right:20px;
  fill: #606060; 
  width:28px;
  height:28px;
	&:hover {
		fill:$accent-color;
	}
}