h1,h2,h3,h4,h5,button,p{
  margin:0;
}

.dark{
  z-index: 10!important;
  position:relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.dark-container{
  opacity:1;
  z-index: 15!important;
}

