.section-jumbotron{
  @extend .dark;
  color:white;
  background-image: url("../images/laptop.jpeg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  height:55vh;
  margin-bottom:1.5rem;
  &:after{
    background-color:rgba(0,0,0,0.3);
  }
}


.header-jumbotron{
  padding:4rem;
  font-family:$font-family;
}

.link-list{
  margin:1rem 0;
}

.section-panels{
  height:42vh;
}

.panel{
  @extend .dark;
  color:rgba(255,255,255,0.6);
  border:none;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center; 
  font-family:$font-family;
  text-transform:uppercase;
  &:after {
    background-color:rgba(0,0,0,0.4);
  }

  &:hover {
    color:rgba(255,255,255,1);
    .home-icon {
      fill:rgba(255,255,255,1);
    }
    &:after{
      background-color:rgba(0,0,0,0.25);
    }
  }
}

.panel-about{
  @extend .panel;
    background:$panel-color;
}

.panel-project{
  @extend .panel;
    background:$panel-color;
}

.panel-blog{
  @extend .panel; 
    background:$panel-color;
}

.home-icon{
  width:8.5rem;
  height:8.5rem;
  fill:rgba(255,255,255,0.7);
}

.social-icon{
  height:3rem;
  width:3rem;
  fill:rgba(255,255,255,0.8);
  margin-right:1rem;
  &:hover{
    fill:rgba(255,255,255,0.2);
  }
}



