.home-container{
  @extend .header-container;
  height: 20vh;
}

.header{
  width:70vw;
}

.social{
  width:25vw;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.social-icon{
  fill:white;
  width: 24px;
  height: 24px;
  &:hover{
    fill:$accent-color;
  }
}

.home-icon{
  width: 48px;
  height: 48px;
  fill:white;
  @media screen and (max-width: 600px) {
  width: 32px;
  height: 32px;  
  }
}

.home-header{
	margin:0;
}

.sub-header{
	margin:0;
}

.body-container{
  display:flex;
  justify-content: center;
  color:white;
  height:60vh;
}

.inner-container{
  margin-top: 10vh;
  width:70vmax;
}


.icon-container{
  height:35vh;
  display:flex;
  flex-flow:row,wrap;
  justify-content: space-around;
  align-items:flex-end;
}

.icon{
  color: white;
  padding-top: 15px;
  background-color: rgba(27,94,32,0);
  border-radius:10px;
  width:175px;
  height:125px;
  margin-bottom:2.5vh;
  

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center; 
  
  @media screen and (max-width: 600px) {
    width:75px;
    height:75px;
  }
}

.icon {
  border:none;
  &:hover{
    box-shadow: 2px 2px 0px 3px black;
    background-color:rgba(46,125,50,0.0);
    color:$accent-color;
    .home-icon{
    fill:$accent-color;
    }
  }
}

.about-text{
  margin:0;
  padding:0;
}



