{% extends "layout.njk" %}

{% block content %}

<body>

	<main class="dark">
	  	{% include "nav.njk" %}
  	<div class="dark-container">
  		<div class="abody-container">
  			<div class="photo-container">
  				<p>Andrew</p>
  				<img class="personal-photo" src="./images/personal.jpg">
  				<p>Obatake</p>
    		</div>
    		<div class="text-container">
    			<h1>Aloha!</h1>
    			<p>If you didn't know already, my name is Andrew Obatake. I was born and raised in Hawaii on the island of Oahu. I am currently a undergraduate student studying computer engineering at the University of Hawaii at Manoa. </p>
    			<p>Through college I found an interest in coding and later found web development/coding to be intriguing. This is the first iteration of my website and hope to improve it as I learn more. Thanks for visiting!</p>
    		</div>
    	</div>
    </div>   
  {% include "footer.njk" %}
  </main>


</body>	

{% endblock %}