{% extends "layout.njk" %}

{% block content %}
<body>

	<main class="dark">
  	<div class="dark-sub">
    
    </div>
     
    <div class="nav-home">{% include "nav.njk" %}</div>
  </main>
</body>	

{% endblock %}