{% extends "layout.njk" %}

{% block content %}

<body>

	<main class="Site dark">
      <div class="Site-content dark-sub">
      	<div class="header-container">
      		<h1 class="home-header">Andrew Obatake</h1>
      		<h4 class="sub-header">Computer Enginnering</h4>
      		<h4 class="sub-header">Hawaii</h4>
      	</div>
      </div>
      
     <div class="nav-home">
      {% include "nav.njk" %}
     </div>
	</main>
</body>	




{% endblock %}