{% extends "layout.njk" %}

{% block content %}

<body>

	<main class="dark">
	  	{% include "nav.njk" %}
  	<div class="dark-container">
  		
    
    </div>   
  {% include "footer.njk" %}
  </main>


</body>	

{% endblock %}