/*
Color Pallete(hex and rgb): Blue
500 should be base color

50  Hex: #E3F2FD RGB: (227,242,253)
100 Hex: #BBDEFB RGB: (187,222,251) 
200 Hex: #90CAF9 RGB: (144,202,249)
300 Hex: #64B5F6 RGB: (100,181,246)
400 Hex: #42A5F5 RGB: (66,165,245)
500 Hex: #2196F3 RGB: (33,150,243)
600 Hex: #1E88E5 RGB: (30,136,229)
700 Hex: #1976D2 RGB: (25,118,210)
800 Hex: #1565C0 RGB: (21,101,192)
900 Hex: #0D47A1 RGB: (13,71,161)
*/

.default-background {
	background-image: url("../patterns/brushed2x.png");
	background-repeat:repeat;
}

.home-background{
	background-image: url("../pics/blue.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

.navbar{
	margin:0;
	background-color: #2196F3;
}

/* Navbar link settings*/
.navbar a{
	color:white;
	font-family: roboto;
}

.personal-pic{
	border-radius: 50%;
	position:absolute;
	top:8px;
	left:120px;
	border:5px solid #2196F3;
}


.jumbotron {
	margin:75px;
	background-color:rgba(33,150,243,0.35);
	color:white; /* Changes header color */
	border:5px solid #2196F3;
}

.img_jumbo {

	background-image: url("../pics/wall.png");
	background-size: cover;
	color:black;
	opacity:0.85;
}


.jumbo-header {
	border-radius: 5px;
	background-color:rgba(21,101,192,0.6);
	font-family: roboto;
	box-shadow: 5px 5px 5px black;
}

.jumbo-body{
	border-radius: 5px;
	background-color: rgba(21,101,192,0.6);
	color:white;
	font-family: roboto;
	box-shadow: 5px 5px 5px black;
}

/*Jumbotron link settings */
.jumbo-body a{
	color:#00E676;
}

.page-header{
	padding:10px;
	height:60px;
	width:200px;

	border-radius: 5px;
	background-color:#1E88E5;
	color:ghostwhite;
	opacity:0.9;
	font-family: roboto;
}

.page-body{
	padding:10px;
	background-color: #1E88E5;
	border-radius: 5px;
	color:ghostwhite;
	font-family: roboto;	
}

.footer{
	background-color: white;
	color:black;
	font-family: roboto;
}

.footer-set{
	padding-top: 10px;
	color:black;
}





